# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
*.vsidx
*.ipch
*.opendb
/StarvingCat/.vs
/StarvingCat/StarvingCat/x64
/StarvingCat/StarvingCat/x64/Debug
*.pdb
/StarvingCat/.vs/StarvingCat/v17
StarvingCat/.vs/StarvingCat/v17/.suo
StarvingCat/.vs/StarvingCat/v17/Browse.VC.db
StarvingCat/.vs/StarvingCat/v17/Browse.VC.db-shm
StarvingCat/.vs/StarvingCat/v17/DocumentLayout.json
/.vs
